@model Product

<div>
    <form asp-action="Create" method="Post" enctype="multipart/form-data">
        <!-- Changed to "ModelOnly" to display only model-level validation errors -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>
            <input class="form-control" type="text" data-val="true"
                   data-val-required="The Name field is required."
                   data-val-remote="The product name already exists."
                   data-val-remote-url="/Product/IsProductNameExist"
                   data-val-remote-additionalfields="*.Name"
                   id="Name" name="Name" value="" />
            <span class="text-danger field-validation-valid"
                  data-valmsg-for="Name" data-valmsg-replace="true"></span>

        </div>

        <div>
            <label for="Price">Price</label>
            <input asp-for="Price" class="form-control"  value="0"/>
            <span asp-validation-for="Price" class="text-danger" ></span>
        </div> 
        <div> 
          <label asp-for="File">File</label>
          <input asp-for="File" type="file"/>

        </div>
        <div>
            <label asp-for="CategoryID">Category ID</label>
            <select asp-for="CategoryID" asp-items="@ViewBag.categories">
             </select>

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>





@section Scripts{
    @{
        await Html.RenderPartialAsync("_Validation");
    }

}
