@model Product

<div>


    <form asp-action="update" method="post" enctype="multipart/form-data">

        <label>
            Name
        </label>
        <input asp-for="Name" />
        <label>
            Price
        </label>
        <input asp-for="Price" />
        <div> 
         <label> current image</label>
      @*    <img src="@Model.Path" height="40" width="50"/>
        </div>
        <div>
            <label asp-for="File">File</label>
            <input asp-for="File" type="file" />
 *@
        </div>
        <button class="btn btn-primary">Sumbit</button>

    </form>
</div>
